/* flipped the order so that the overrides work  */

/* hi-res laptops and desktops */
@media (min-width:1901px){
    /* CSS */
    .header_area .nav-item .nav-link{
        padding: 1rem;
    }


    .container{
        max-width: 90%;
    }

    .site-main .services-area,
    .site-main .services-area .services-title,
    .site-main .WWD-area{
        padding: 3% 4%;
    }
    .small-container {
        display: none;
    }
    .facility-card img {
        width: 80%;
        border-radius: 7px;
    }
}

/* if the viewport is equal to 1910px or less than that */ 
@media only screen and (max-width: 1900px){
    .header_area .nav-item .nav-link{
        padding: 1rem;
    }

    .container{
        max-width: 90%;
    }

    .site-main .services-area,
    .site-main .services-area .services-title,
    .site-main .WWD-area{
        padding: 3% 4%;
    }

    /* setting the font size to be bigger to suit the biggert screen size */
    .site-main .purpose-area .purpose-title p{
        font-size: 20px; /*made bigger*/
    
    }
    .site-main .purpose-area .purpose-title li{
        font-size: 20px;
        font-family: var(--nunito);
        max-width: 600px;
    }
.WWD-area .container-fluid{
    /* background-color: chocolate; */
    padding-left: 12% ;
    padding-right: 12% ;
}
}

@media only screen and (max-width: 1350px){
    /*--- resoucers page begin---*/
    
    header .navigation .menu{
        position: relative;
        display: flex;
        justify-content: center;
        list-style: none;
        user-select: none;
        padding-left:10rem;
      }
    
      
    .icbcs_content{
        margin-left:-5%;
    }
    
    .facility_description p {
        font-size: 10px;
    }
    
    .facility_description h3 {
        font-size: 20px;
    }
    
    }
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
/* if the viewport is equal to 792px or less than that */ 
@media only screen and (max-width: 1000px){
    .site-main .WWD-area{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    } 

    .site-main .purpose-area{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .site-main .purpose-area{
        padding: 0rem 0rem;
    }
    
    .site-main .purpose-area .purpose-title{
        padding: 0rem;
        background: rgba(248, 252, 253, 0.973);
        border-radius: 12px;
    }
    
    .site-main .purpose-area .purpose-title h1{
        font-size: 35px;
        font-family: var(--nunito);
        color:var(--primary-color);
    }
    .site-main .purpose-area .purpose-title p{
        font-size: 20px;
        font-family: var(--nunito);
    }
    .site-main .purpose-area .purpose-title li{
        font-size: 20px;
        font-family: var(--nunito);
    }

    .WWD-area{
        padding-left: 0% ;
        padding-right: 0% ;
        /* background-color: blue; */
    }
    .WWD-area .container-fluid{
        /* background-color: chocolate; */
        padding-left: 10% ;
        padding-right: 10% ;
    }
    .row_margin{
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
    }
    .team-section {
        padding-left:0px;
        padding-right:0px;
      }


    .exc-section {
        padding-left:0px;
        padding-right:0px;
    }

    /* setting the font size for screen up top 1000px */
    .site-main .purpose-area .purpose-title p{
        font-size: 18px; /*made bigger*/
    
    }
    .site-main .purpose-area .purpose-title li{
        font-size: 18px;
        font-family: var(--nunito);
        max-width: 600px;
    }
    
}

/* if the viewport is equal to 340px or less than that 

made to 450px insted of 340 to account for iphone pro max*/ 
@media only screen and (max-width: 450px){ 
    .header_area .nav-item .nav-link

/* check @media and flexbox and boostrap */

    /* removing padding and margin from that nav */
    {
        padding: 8%;
        margin: 0%;
    }

    .bgimage {
        font-size: 45px;
        margin: 0%;
    }
    
    .site-main .WWD-area{
        padding-top: 3%;
        padding-right: 8%;
        padding-bottom: 0px;
        padding-left: 8%;
    } 

    .site-main .purpose-area{
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    }

    .WWD-area{
        padding-left: 0% ;
        padding-right: 0% ;
        /* background-color: blue; */
    }
    .WWD-area .container-fluid{
        /* background-color: chocolate; */
        padding-left: 0% ;
        padding-right: 0% ;
    }
    .team-section {
        padding-left:0px;
        padding-right:0px;
      }

      /* setting the font size for screen up top 340px */
    .site-main .purpose-area .purpose-title p{
        font-size: 15px; 
        margin-left: 3px;
    
    }
    .site-main .purpose-area .purpose-title {
        padding: 0 0.5rem;
    }
    .site-main .WWD-area p {
        font-size: 13px;
    }
    .site-main .purpose-area .purpose-title li{
        font-size: 15px;
        font-family: var(--nunito);
        max-width: 300px;
        margin-left: 3px;
    }
    /* adjusting padding for iphone and size */
    .title-text { 
        padding-bottom: 10px;
    } 
    .site-main .purpose-area .purpose-title h1{
        font-size: 20px
    }
    .site-main .services-area .wwd-title h1 {
        font-size: 20px;
    }
    .site-main .WWD-area h2 {
        font-size: 20px;
        letter-spacing: 1.5px;
    }
    .site-main .WWD-area img {
        max-width: 80%;
        max-height: 90%;
    }
    .row_margin {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .accordion-link {
        font-size: 20px;
    }
    .answer p {
        font-size: 15px;
    }

    .question-block {
        margin: 0px;
    }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
    .card .card-content img{
        width:50%;
      }
}
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .card .card-content img{
        width:100%;
      } 

    }




  @media (max-width: 1060px){
    header .navigation .menu{
      position: fixed;
      display: block;
      background: var(--divider_blue1);
      min-width: 350px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 90px 50px;
      visibility: hidden;
      overflow-y: auto;
      transition: 0.5s;
      transition-property: right, visibility;
    }
  
    header.sticky .navigation{
      line-height: 75px;
    }
  
    header .navigation .menu.active{
      right: 0;
      visibility: visible;
    }
  
    .menu-item{
      position: relative;
    }
  
    .menu-item .sub-menu{
      opacity: 1;
      position: relative;
      top: 0;
      transform: translateX(10px);
      background: var(--box_blue);
      border-radius: 5px;
      overflow: hidden;
      display: none;
    }
  
    header.sticky .menu-item .sub-menu{
      top: 0;
    }
  
    .menu-item:hover .sub-menu{
      transform: translateX(10px);
    }
  
    .menu-item .sub-menu .sub-item{
      box-shadow: none;
    }
  
    .menu-item .sub-menu .sub-item:hover{
      background: none;
    }
  
    .menu-item .sub-menu .sub-item a:hover{
      color: #4080EF;
      transition: 0.3s;
    }
  
    .more .more-menu{
      opacity: 1;
      position: relative;
      left: 0;
      transform: translateY(0);
      background: var(--box_blue);
      border-radius: 5px;
      display: none;
    }
  
    .more .more-menu .more-item{
      box-shadow: none;
    }
  
    .more .more-menu .more-item:hover{
      background: none;
    }
  
    .more .more-menu .more-item a{
      margin-left: 20px;
    }
  
    .close-btn{
      position: absolute;
      background: url(/icons/close.png)no-repeat;
      width: 40px;
      height: 40px;
      background-size: 25px;
      background-position: center;
      top: 0;
      left: 0;
      margin: 25px;
      cursor: pointer;
    }
  
    .menu-btn{
      background: url(/icons/menu.png)no-repeat;
      width: 50px;
      height: 50px;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
      display: block;
    }
  
    header{
      padding: 15px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  }