
/*import fonts from fonts.css file*/ 
@import url(./fonts.css);

@import url(./partials/_variables.css);
@import url(./partials/_global.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url(./normalize.css);

*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: inherit;
}



#html{
    font-family: var(--nunito);
}

.blue-maroon-transition {
    background: url(/img/islamicArt2_webpat-01.png);

    height: 10.375rem;
    background-size: auto 100%;

}

.End_blue-maroon-transition {
    background: url(/img/islamicArt2_webpat-01.png);
    transform: rotate(180deg);
    height: 10.375rem;
    background-size: auto 100%;

}



/* start navigation */


.header_area .nav-item .nav-link{
    font: normal 500 15px/2px var(--nunito);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .container .navbar-nav a:hover{
    background: var(--gardient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;

}


/* end navigation  */


/* banner area    */
.header_area .bgimage {



    height: 723px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgb(255,255,255,0.2), rgb(255,255,255,0.2)), url(/img/tamuMSA.png);  /* Chrome 10-25, Safari 5.1-6 */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;

    z-index: -1;
    

}
.bgimage  h1 {
    color:var(--gardient-color);
    font: normal bold 40px/ 50px var(--nunito);
}

.bgimage  h2 {
    color:var(--gardient-color);
    font: normal bold 40px/ 50px var(--nunito);
} 
/* end banner area   


/*-----------------------------------------------Our Purpose Area */
.site-main .purpose-area{
    padding-right:2rem;
    padding-left:2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-main .purpose-area .purpose-title{
    padding: 0 14rem;
    /* background: rgba(248, 252, 253, 0.973); */
    border-radius: 12px;

}

.site-main .purpose-area .purpose-title h1{
    font-size: 35px;
    font-family: var(--nunito);
    color:var(--primary-color);
}
.site-main .purpose-area .purpose-title p{
    font-size: 20px;
    font-family: var(--nunito);

}
.site-main .purpose-area .purpose-title li{
    font-size: 20px;
    font-family: var(--nunito);
    max-width: 600px;
}
/* ---------------------------------------------Our Purpose Area  END*/


/* ---------------------------------------------Start history area  */
.history-area h1{
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 6px;
    font-size: 24px;
}

.history-area p{
    font-family: (--nunito);
 
  
}
.history-area .container{
    border-radius: 10px;
}




.hist{
    /* background:var(--title-color) ; */
    background-repeat: no-repeat;
    background-position: right;

    width: 100%;
    background-size: 100%;

}



.hist .hist-content{
    /* background:var(--title-color) ; */
    max-width:20rem;
    display: block;
}


.hist .hist-post{
    
    padding-bottom:12 rem ;

}

.hist-post .hist-content{
    /* background:white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.hist-content .hist-title h1{
    font:var(--nunito);

}

.hist-content .hist-title h3{
    font:var(--nunito);
    font-size: 12px;
}


.hist-content .btn-hist{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
/* ---------------------------------------------end history area  */



/*----------------------------------------------what we do area */
.WWD-area{
    padding-left: 50% ;
    padding-right: 50% ;
    /* background-color: blue; */
}
.WWD-area .container-fluid{
    /* background-color: chocolate; */
    padding-left: 20% ;
    padding-right: 20% ;
}

.site-main .services-area .wwd-title h1{
    padding-top: 35px;
    background: rgba(248, 252, 253, 0.973);
    border-radius: 12px;
    font-size: 35px;
    font-family: var(--nunito);
    color:var(--primary-color);

}


/* image centered inside the margin and */
.site-main .WWD-area img{
    border-radius: 50%;
    display:inline; /* inorder to text-center and the class= "center" */ 
    /* to make the image fit in the margin when resized  */
    /* width:100%;
    max-height: 100%; */
    max-width: 100%;
    max-height: 100%;
}


.site-main .WWD-area h2{

    display: inline;
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 10px;
    font-size: 35px;
}
.site-main .WWD-area p{
    font-size: 18px;
    font-family: var(--nunito);


}

/*---------------------------------------------------End About Area */ 


/* ------------------------------------FAQ section  */


.FAQ .faq-section h1{
    display: inline;
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 10px;
    font-size: 35px;

}

.question-block{
    margin: 2rem 0;
}


.accordion-item{
    background-color:var(--box_blue);
    margin-bottom: 1rem; /*the space between the questions  */
    padding: 0.625rem;
    margin: 0;
    /* background-color:violet; */
}

 .accordion-link{
    font-size: 24px;
    font-family: var(--nunito);
    color: var(--gardient-color);
    text-decoration:none;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.accordion-link i{
    color:#e7d5ff;
    padding: .5rem;

}
.row_margin{
    flex-wrap: wrap;
    margin-right: 6rem;
    margin-left: 6rem;
}


.accordion-link .ion-md-remove{
    display:none;
    color:var(--gardient-color);
}

.accordion-link .ion-md-add{

    color:var(--gardient-color);
}


.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    padding:0%;
    background-color: var(--box_blue);
    background-size: 50%;
    transition:max-height 650ms;

}
.answer::before{
    content: "";
    position:absolute;
    width:.3rem;
    height: 100%;
    background-color:var(--primary-color);
    top :50%;
    left: 0;
    transform:translateY(-50%);
}

.answer p{
    font-size:1.4rem;
    color:var(--gardient-color);
    padding: 2rem;
}


.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-item{
    border-bottom: 1px solid var(--gardient-color);
}

.accordion-item:target .accordion-link .ion-md-add{
    display:none;
}

.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}
/* ------------------------------------FAQ section END */

/* Faq waviy effect  */
.faq-title{
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .faq-title span {
    font-family:var(--nunito);
    position: relative;
    display: inline-block;
    color:var(--title-color);
    text-transform: uppercase;
    animation: faq-title 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes faq-title {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
/* Faq waviy effect end */
  
  