
/*import fonts from fonts.css file*/ 
@import url(./fonts.css);

@import url(./partials/_variables.css);
@import url(./partials/_global.css);
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url(./normalize.css)

*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: inherit;
}


/* scroll effect */

.reveal{

    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1s ease;
  }
  
  .reveal.active{
  
    transform: translateY(0px);
    opacity: 1;
    animation-iteration-count: 1
  }






#html{
    font-family: var(--nunito);
}

.blue-maroon-transition {
    background: url(/img/islamicArt_webpat_Blue_navy-01.png);

    height: 10.375rem;
    background-size: auto 100%;

}

.End_blue-maroon-transition {
    background: url(/img/islamicArt_webpat_Blue_navy_end-04.png);
  
    height: 10.375rem;
    background-size: auto 100%;

}



/* start navigation */
.bg-dark {
    background-color:var(--divider_blue1)!important;
}

.header_area .nav-item .nav-link{
    font: normal 500 15px/2px var(--nunito);
    text-transform: uppercase;
    /* padding: 1.7rem; */
    color: var(--tamu_maroon);
}
.nav-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
  }


.navbar-nav .sub-menu{
    position: absolute;
    background: #23252B;
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
}

.navbar-nav .nav-item.sub-menu.sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  }
  
.navbar-nav .nav-item.sub-menu.sub-item a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
}

.navbar-nav .nav-item.sub-menu.sub-item:hover{
    background: #4080EF;
}

header .navbar-collapse .menu.active{
    right: 0;
    visibility: visible;
  }



.header_area .main-menu .navbar-nav .active a{
    background: var(--tamu_maroon);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .container .navbar-nav a:hover{
    background: var(--tamu_maroon);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;

}

/* end navigation  */


/* banner area    */
.header_area .bgimage_home {

    height: 780px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgb(255,255,255,0.2), rgb(255,255,255,0.2)), url(/img/tamuMSA.png);  /* Chrome 10-25, Safari 5.1-6 */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;

    z-index: -1;
    

}
.bgimage_home  h1 {
    color:var(--tamu_maroon);
    font: normal bold 40px/ 50px var(--nunito);
}

.bgimage_home h2 {
    color:var(--tamu_maroon);
    font: normal bold 40px/ 50px var(--nunito);
} 
/* end banner area   


/*-----------------------------------------------Our Purpose Area */
.site-main .purpose-area{
    padding-right:2rem;
    padding-left:2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.site-main .purpose-area .purpose-title{
    padding: 0 14rem;
    /* background: rgba(248, 252, 253, 0.973); */
    border-radius: 12px;

}

.site-main .purpose-area .purpose-title h1{
    font-size: 35px;
    font-family: var(--nunito);
    color:var(--primary-color);
}
.site-main .purpose-area .purpose-title p{
    font-size: 20px;
    font-family: var(--nunito);

}
.site-main .purpose-area .purpose-title li{
    font-size: 20px;
    font-family: var(--nunito);
    max-width: 600px;
}
/* ---------------------------------------------Our Purpose Area  END*/


/* ---------------------------------------------Start history area  */
.history-area h1{
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 6px;
    font-size: 24px;
}

.history-area p{
    font-family: (--nunito);
 
  
}
.history-area .container{
    border-radius: 10px;
}




.hist{
    /* background:var(--title-color) ; */
    background-repeat: no-repeat;
    background-position: right;

    width: 100%;
    background-size: 100%;

}



.hist .hist-content{
    /* background:var(--title-color) ; */
    max-width:20rem;
    display: block;
}


.hist .hist-post{
    
    padding-bottom:12 rem ;

}

.hist-post .hist-content{
    /* background:white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.hist-content .hist-title h1{
    font:var(--nunito);

}

.hist-content .hist-title h3{
    font:var(--nunito);
    font-size: 12px;
}


.hist-content .btn-hist{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
/* ---------------------------------------------end history area  */



/*----------------------------------------------what we do area */
.WWD-area{
    padding-left: 50% ;
    padding-right: 50% ;
    /* background-color: blue; */
}
.WWD-area .container-fluid{
    /* background-color: chocolate; */
    padding-left: 20% ;
    padding-right: 20% ;
}

.site-main .services-area .wwd-title h1{
    padding-top: 35px;
    background: rgba(248, 252, 253, 0.973);
    border-radius: 12px;
    font-size: 35px;
    font-family: var(--nunito);
    color:var(--tamu_maroon);

}


/* image centered inside the margin and */
.site-main .WWD-area img{
    border-radius: 50%;
    display:inline; /* inorder to text-center and the class= "center" */ 
    /* to make the image fit in the margin when resized  */
    /* width:100%;
    max-height: 100%; */
    max-width: 100%;
    max-height: 100%;
}


.site-main .WWD-area h2{

    display: inline;
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 10px;
    font-size: 35px;
    color:var(--tamu_maroon);

}
.site-main .WWD-area p{
    font-size: 18px;
    font-family: var(--nunito);
    color:var(--tamu_maroon);


}

/*---------------------------------------------------End About Area */ 


/* ------------------------------------FAQ section  */


.FAQ .faq-section h1{
    display: inline;
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 10px;
    font-size: 35px;

}

.question-block{
    margin: 2rem 0;
}


.accordion-item{
    background-color:var(--box_blue);
    margin-bottom: 1rem; /*the space between the questions  */
    padding: 0.625rem;
    margin: 0;
    /* background-color:violet; */
}

 .accordion-link{
    font-size: 24px;
    font-family: var(--nunito);
    color: var(--gardient-color);
    text-decoration:none;

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  
.accordion-link i{
    color:#e7d5ff;
    padding: .5rem;

}
.row_margin{
    flex-wrap: wrap;
    margin-right: 6rem;
    margin-left: 6rem;
}


.accordion-link .ion-md-remove{
    display:none;
    color:var(--gardient-color);
}

.accordion-link .ion-md-add{

    color:var(--gardient-color);
}


.answer{
    max-height: 0;
    overflow: hidden;
    position: relative;
    padding:0%;
    background-color: var(--box_blue);
    background-size: 50%;
    transition:max-height 650ms;

}
.answer::before{
    content: "";
    position:absolute;
    width:.3rem;
    height: 100%;
    background-color:var(--primary-color);
    top :50%;
    left: 0;
    transform:translateY(-50%);
}

.answer p{
    font-size:1.4rem;
    color:var(--gardient-color);
    padding: 2rem;
}


.accordion-item:target .answer{
    max-height: 20rem;
}
.accordion-item{
    border-bottom: 1px solid var(--gardient-color);
}

.accordion-item:target .accordion-link .ion-md-add{
    display:none;
}

.accordion-item:target .accordion-link .ion-md-remove{
    display: block;
}
/* ------------------------------------FAQ section END */

/* Faq waviy effect  */
.faq-title{
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .faq-title span {
    font-family:var(--nunito);
    position: relative;
    display: inline-block;
    color:var(--title-color);
    text-transform: uppercase;
    animation: faq-title 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes faq-title {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
/* Faq waviy effect end */
  
  
.footer-section{
    background-color:var(--divider_blue1);
}



.footer-content a{
    color: var(--tamu_navy);
    text-align: center;

}






/* calender section */

.header_area .calender_img {
    height: 200px;
    width: 100%;
    text-align: center;
    padding-top: 250px;
    color: white;
    overflow: hidden;
    background: linear-gradient(rgb(255,255,255,0.2), rgb(255,255,255,0.2)), url(/img/tamuMSA.png);  /* Chrome 10-25, Safari 5.1-6 */
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    z-index: -1;
}
.calender_img  h1 {
    color:var(--tamu_maroon);
    font: normal bold 40px/ 50px var(--nunito);
}

.calender_img  h2 {
    color:var(--tamu_maroon);
    font: normal bold 40px/ 50px var(--nunito);
} 

 /* ----------------------------------------------------team section  begin  */

#html{
    font-family: var(--nunito);
}

.bgimage {
    width:100%;
    height:250px;
    background:url(/img/SS/social.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;

    justify-content: center;
    text-align: center;

  }

.exc-section {
    padding-left:150px;
    padding-right:150px;
}
  
  
.exc-section .img-container img{
    border-radius:50% ;
  
}
  
  
.exc-section .card-body .image-caption{
      font-family: var(--nunito);
      font-size: 12px;
}

.exc-section .exc-title{

    padding-top: 40px;
    padding-bottom: 40px;
    
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 8px;
    font-size: 24px;
}

.team-section {
  padding-left:150px;
  padding-right:150px;
}


.team-section .img-container img{
    border-radius:50% ;

}


.team-section .card-body .image-caption{
    font-family: var(--nunito);
    font-size: 12px;
}


.team-section .team-title{
    padding-top: 40px;
    padding-bottom: 40px;
    
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 8px;
    font-size: 24px;
}

 /* ----------------------------------------------------team section  end */

 /*--- resoucers page begin---*/





.header_area .bgimage {
    width:100%;
    height:250px;
    background:url(/img/SS/social.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    opacity: 0.8;
    z-index: -1;

    justify-content: center;
    text-align: center;

  }


/* start navigation */
.banner-image {
    background-image: url(/img/tamuView.png);
    background-size: cover;
    opacity: 0.8;
    z-index: -1;
}


.header_area .nav-item .nav-link{
    font: normal 500 15px/2px var(--nunito);
    text-transform: uppercase;
    padding: 1.7rem;
    color: var(--title-color);
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.header_area .container .navbar-nav a:hover{
    background: var(--gardient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip:text;

}


/* end navigation  */


/* banner area    */

/* Create three equal columns that floats next to each other */

  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .site_main .prayerTitle-area{
      font:var(--nunito);
  }


.blog{
    /* background:var(--title-color) ; */
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    background-size: 100%;

}



.blog .blog-content{
    /* background:var(--title-color) ; */
    max-width:20rem;
    display: block;
}


.blog .blog-post{
    
    padding-bottom:12 rem ;

}

.blog-post .blog-content{
    /* background:white; */
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 3rem 2rem;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}

.blog-content .blog-title h1{
    font:var(--nunito);
    color: var(--gardient-color);
}

.blog-content .blog-title h3{
    font:var(--nunito);
    font-size: 12px;
    align-items: center;
}


.blog-content .btn-blog{
  background-color:var(--button_color); /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 2rem;
  
}



.prayer-title h1{
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 6px;
    font-size: 30px;
    color: var(--gardient-color);
}
.prayer-title p{
    font-family: var(--nunito);
    letter-spacing: 3px;
    color: var(--gardient-color);
}
/* ------Jummah Times section-------------*/

.masjid-area h1{
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--gardient-color);

}

.masjid-area p{
    font-family: (--nunito);
  
}
.masjid-area .container{
    border-radius: 10px;
}


.facility-card img{
    width: 200;
    border-radius: 7px;
    
 }
 .facility-card{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    position: relative;
 }

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#5E0707);
    opacity: 0;
  
    transition: 1s;
 }

 /* --------------------------------facility section*/
 .facility-card:hover .overlay{
    opacity: 1;
 }
 .menu li{
     font-family: var(--nunito);
 }
 .facility_description{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    transition: 1s;
  }
 hr{
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
 }
 .facility_description p{
    font-size: 14px;
  }
 .facility-card:hover .facility_description{
    bottom: 40%;
    opacity: 1;
 }



.jummah-area h1{
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 3px;
    font-size: 30px;
    color: var(--gardient-color);

}

.jummah-area p{
    font-family: (--nunito);
  
}
.jummah-area .container{
    border-radius: 10px;
}


.icbcs{
    padding-top:8%;
}


 .title-text{
    text-align: center;
    padding-bottom: 70px;
 }
  
  .title-text p{
    margin: auto;
    font-size: 20px;
    color: #5E0707;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
 }
  
 .title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#4e0705, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
 }
  .title-text h1{
    font-size: 50px;
 }
  
  
 @media screen and (max-width: 770px){
    .title-text h1{
        font-size: 35px;
    }
  
   
    .features{
        flex-basis: 100%;
    }
    .features-img{
        flex-basis: 100%;
        margin: auto; 
    }
    .features-img img{
        width: 100%;
     }
 }
  
 /*-- service--*/
  



header .navbar.navigation{
    position: relative;
    line-height: 75px;
    transition: 0.6s;
    transition-property: line-height;
  }
header a{
    padding-left:5rem;
}
  
  header.sticky .navigation{
    line-height: 60px;
  }
  
  header .navigation .menu{
    position: relative;
    display: flex;
    justify-content: center;
    list-style: none;
    user-select: none;
    padding-left:30rem;
  }
  
  .menu-item > a{
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    margin: 20px;
    padding: 25px 0;
  }
  
  .menu-item > a:hover{
    color: var(--gardient-color);
    transition: 0.3s;
  }
  
  .menu-item .sub-menu{
    position: absolute;
    background: var(--box_blue);
    top: 74px;
    line-height: 40px;
    list-style: none;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
    pointer-events: none;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s;
    transition-property: transform, opacity;
  }
  
  header.sticky .menu-item .sub-menu{
    top: 60px;
  }
  
  .menu-item:hover .sub-menu{
    pointer-events: all;
    transform: translateY(0);
    opacity: 1;
  }
  
  .menu-item .sub-menu .sub-item{
    position: relative;
    padding: 7px 0;
    cursor: pointer;
    box-shadow: inset 0px -30px 5px -30px rgba(255, 255, 255, 0.2);
  }
  
  .menu-item .sub-menu .sub-item a{
    color:var(--gardient-color);
    font-size: 1em;
    text-decoration: none;
    padding: 15px 30px;
  }
  
  .menu-item .sub-menu .sub-item:hover{
    background: white;
  }
  
  .menu-item .sub-menu .sub-item:last-child:hover{
    border-radius: 0 0 8px 8px;
  }
  



  
  .menu-btn{
    display: none;
  }
  
  @media (max-width: 1060px){
    header .navigation .menu{
      position: fixed;
      display: block;
      background: var(--divider_blue1);
      min-width: 350px;
      height: 100vh;
      top: 0;
      right: -100%;
      padding: 90px 50px;
      visibility: hidden;
      overflow-y: auto;
      transition: 0.5s;
      transition-property: right, visibility;
    }
  
    header.sticky .navigation{
      line-height: 75px;
    }
  
    header .navigation .menu.active{
      right: 0;
      visibility: visible;
    }
  
    .menu-item{
      position: relative;
    }
  
    .menu-item .sub-menu{
      opacity: 1;
      position: relative;
      top: 0;
      transform: translateX(10px);
      background: var(--box_blue);
      border-radius: 5px;
      overflow: hidden;
      display: none;
    }
  
    header.sticky .menu-item .sub-menu{
      top: 0;
    }
  
    .menu-item:hover .sub-menu{
      transform: translateX(10px);
    }
  
    .menu-item .sub-menu .sub-item{
      box-shadow: none;
    }
  
    .menu-item .sub-menu .sub-item:hover{
      background: none;
    }
  
    .menu-item .sub-menu .sub-item a:hover{
      color: #4080EF;
      transition: 0.3s;
    }
  
    .more .more-menu{
      opacity: 1;
      position: relative;
      left: 0;
      transform: translateY(0);
      background: var(--box_blue);
      border-radius: 5px;
      display: none;
    }
  
    .more .more-menu .more-item{
      box-shadow: none;
    }
  
    .more .more-menu .more-item:hover{
      background: none;
    }
  
    .more .more-menu .more-item a{
      margin-left: 20px;
    }
  
    .close-btn{
      position: absolute;
      background: url(/icons/close.png)no-repeat;
      width: 40px;
      height: 40px;
      background-size: 25px;
      background-position: center;
      top: 0;
      left: 0;
      margin: 25px;
      cursor: pointer;
    }
  
    .menu-btn{
      background: url(/icons/menu.png)no-repeat;
      width: 50px;
      height: 50px;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
      display: block;
    }
  
    header{
      padding: 15px 20px;
    }
  
    header.sticky{
      padding: 10px 20px;
    }
  }
  /*-------------------------------islam page start------------------------*/
  .about-islam-area{
    padding-left: 0% ;
    padding-right: 0% ;
    padding-top: 7rem;
    /* background-color: blue; */
}
.about-islam-area .container-fluid{
    /* background-color: chocolate; */
    padding-left: 20% ;
    padding-right: 20% ;
}

.site-main .services-area .wwd-title h1{
    padding-top: 35px;
    background: rgba(248, 252, 253, 0.973);
    border-radius: 12px;
    font-size: 35px;
    font-family: var(--nunito);
    color:var(--tamu_maroon);

}


/* image centered inside the margin and */
.site-main .about-islam-area img{

    display:inline; /* inorder to text-center and the class= "center" */ 
    /* to make the image fit in the margin when resized  */
    /* width:100%;
    max-height: 100%; */
    max-width: 100%;
    max-height: 100%;
}


.site-main .about-islam-area h2{
    display: inline;
    font: normal bold 49px/ 60px var(--nunito);
    letter-spacing: 10px;
    font-size: 35px;
    color:var(--tamu_maroon);
}
.site-main .about-islam-area h3{

  font: normal bold 49px/ 60px var(--nunito);
  letter-spacing: 10px;
  font-size: 35px;
  color:var(--tamu_maroon);
}
.site-main .about-islam-area p{
    font-size: 18px;
    font-family: var(--nunito);
    color:var(--tamu_maroon);
    line-height: 2;
    margin-top:2rem;
    margin-bottom:2rem;

}

.site-main .m_area  h1{
  padding-top: 35px;
  background:rgb(105, 105, 105);
  border-radius: 12px;
  font-size: 35px;
  font-family: var(--nunito);
  color:var(--tamu_maroon);
}
.site-main .m_area p{
  padding-top: 35px;
  background:rgb(105, 105, 105);
  border-radius: 12px;
  font-size: 35px;
  font-family: var(--nunito);
  color:var(--tamu_maroon);
}


.site-main .islam-title-area{
  padding-right:2rem;
  padding-left:2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-main .islam-title-area .purpose-title{
  padding: 0 14rem;
  /* background: rgba(248, 252, 253, 0.973); */
  border-radius: 12px;

}

.site-main .islam-title-area .purpose-title h1{
  font-size: 35px;
  font-family: var(--nunito);
  color:var(--primary-color);
}
.site-main .islam-title-area .purpose-title p{
  font-size: 20px;
  font-family: var(--nunito);

}
.site-main .islam-title-area .purpose-title li{
  font-size: 20px;
  font-family: var(--nunito);
  max-width: 600px;
}

.m-section{
  background: gray;
}

.m-area-div p{
  font-size: 18px;
  font-family: var(--nunito);
  color:var(--tamu_maroon);
  line-height: 2;
  margin-top:2rem;
  margin-left:5rem;
  margin-right:5rem;
}
.allah-section{
  background: gray;
}

.header_area .bgimage_islam {

  height: 400px;
  width: 100%;
  /* text-align: center; */
  padding-top: 100px;
  color: white;
  overflow: hidden;
  background: linear-gradient(rgb(255,255,255,0.2), rgb(255,255,255,0.2)), url(/img/tamuMSA.png);  /* Chrome 10-25, Safari 5.1-6 */
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  /* z-index: -1; */
}
.bgimage_islam  h1 {
  color:var(--tamu_maroon);
  font: normal bold 30px/ 60px var(--nunito);
}

.bgimage_islam h2 {
  color:var(--tamu_maroon);
  font:  20px/ 30px var(--nunito);
  padding-left:20rem;
  padding-right: 20rem;
} 



..pillers-area{
  /* background:var(--title-color) ; */
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  background-size: 100%;

}
.pillers-area .blog-content img{
  width: 200px;
  align-items: center;

}


.pillers-area .blog-content{
  /* background:var(--title-color) ; */
  max-width:20rem;
  display: block;
}


.pillers-area.blog-post{
  
  padding-bottom:12 rem ;

}

.pillers-area .blog-post .blog-content{
  /* background:white; */
  /* display: flex; */
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 3rem 2rem;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  
}

.pillers-area .blog-content .blog-title h1{
  font:var(--nunito);
  color: var(--gardient-color);
}

.pillers-area .blog-content .blog-title h3{
  font:var(--nunito);
  font-size: 12px;
  align-items: center;
}


.pillers-area .blog-content .btn-blog{
background-color:var(--button_color); /* Green */
border: none;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-bottom: 2rem;

}

.site-main .pillers-title  h1{
  padding-top: 0px;
  border-radius: 12px;
  font-size: 35px;
  font-family: var(--nunito);
  color:var(--tamu_maroon);
}