html, body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;  
}

/*CSS variables */
:root{
    --primary-color: #260101;
    --primary-color2: #260101;
    --title-color:#260101;
    --text-color:#260101;
    --border-color:#260101;
    --gardient-color:#4B0000; /*background */
    --shadow-color:#260101;
    --box-shadow:#260101;
    --box-shadow:#260101;
    --box_blue: #DDE6F5;
    --tamu_navy:#003C71;
    --divider_blue1:#899FC9;
    --tamu_maroon: #3C0000;

    --nunito:"Nunito";
}
